<div class="dropdown col-md-4 offset-5">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
      Sources
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/bbc">BBC News</a>
      <a class="dropdown-item" routerLink="/toi">Times Of India</a>
      <a class="dropdown-item" routerLink="/fox">Fox News</a>
      <a class="dropdown-item" routerLink="/espn">ESPN</a>
      <a class="dropdown-item" routerLink="/hindu">The Hindu</a>
    </div>
  </div>