<div class="dropdown col-md-4 offset-5">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
      Countries
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/india">India</a>
      <a class="dropdown-item" routerLink="/usa">USA</a>
      <a class="dropdown-item" routerLink="/russia">Russia</a>
    </div>
  </div>
