 <h1 [innerText]='name'></h1>
<img [src]="imgurl" alt="" [class.rounded-circle]='isactive'>
<h2 [style.color]='colorname' [class.bg-dark]='isactive' [class.bg-primary]='!isactive'>{{address}}</h2>

<table class ="table table-dark table-bordered table-striped">
    <thead class="table table-danger">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th [attr.colspan]='colspanvalue'>Contact Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>mike</td>
            <td>25</td>
            <td>5464654654654</td>
            <td>5555555555555</td>
        </tr>
        <tr>
            <td>mike</td>
            <td>25</td>
            <td>5464654654654</td>
            <td>5555555555555</td>
        </tr>
        <tr>
            <td>mike</td>
            <td>25</td>
            <td>5464654654654</td>
            <td>5555555555555</td>
        </tr>
        <tr>
            <td>mike</td>
            <td>25</td>
            <td>5464654654654</td>
            <td>5555555555555</td>
        </tr>
    </tbody>
</table>