<div class="dropdown col-md-4 offset-5">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
      Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/bussiness">Bussiness</a>
      <a class="dropdown-item" routerLink="/entertainment">Entertainment</a>
      <a class="dropdown-item" routerLink="/health"> Health</a>
      <a class="dropdown-item" routerLink="/technology"> Technology</a>
    </div>
  </div>
